<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="AutoEcole.Properties.Settings.AutoecoleConnectionString" connectionString="Data Source=localhost;Initial Catalog=mecenat;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AutoecoleEntities" connectionString="metadata=res://*/mdlAutoEcoleEF.csdl|res://*/mdlAutoEcoleEF.ssdl|res://*/mdlAutoEcoleEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D202-NUC04;initial catalog=Autoecole;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>